<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbn</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      h1 {
        text-align: center;
        margin-top: 20px;
      }
      .listings {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
      }
      .listing {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .listing img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }
      .listing h2 {
        font-size: 1.5rem;
        color: #333;
      }
      .listing p {
        color: #555;
      }
      .listing p.price {
        font-weight: bold;
        color: #333;
      }
      .listing p.location {
        font-style: italic;
        color: #777;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Airbnb</h1>
    <form method="get" action="/listings/new">
      <button style="margin: 20px auto; display: block">
        create a new listing
      </button>
    </form>
    <p style="text-align: center">Explore our listings below:</p>
    <div class="listings">
      <% for (let listing of listings) { %>
      <div class="listing">
        <img src="<%= listing.image %>" alt="<%= listing.title %>" />
        <h2><a href="/listings/<%= listing._id %>"><%= listing.title %></a></h2>
        <p><%= listing.description %></p>
        <li>
          <span>Price:</span> &#8377; <%= listing.price.toLocaleString("en-IN")
          %>
        </li>
        <p class="location">Location: <%= listing.location %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
